
menu "Libraries"

rsource "gtp_buttons/Kconfig"
rsource "gtp_display/Kconfig"
rsource "gtp_game/Kconfig"
rsource "gtp_memory_game/Kconfig"
rsource "gtp_menu/Kconfig"
rsource "gtp_reactivity_game/Kconfig"
rsource "gtp_simple_sound_game/Kconfig"
rsource "gtp_traffic_game/Kconfig"

endmenu
